facke-iot-service/data/.flows.json.backup
[
    {
        "id": "c850e7a84f927bd7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55edd829512bef11",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "9f6c7afd3de8ba3d",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/facke-iot",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "55edd829512bef11",
                "7825e804522c6a7d"
            ]
        ]
    },
    {
        "id": "5c4db087942204d0",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 420,
        "wires": []
    },
    {
        "id": "7825e804522c6a7d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = { response: msg.payload  };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "5c4db087942204d0"
            ]
        ]
    },
    {
        "id": "59cdd4929a049d3f",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3000/information",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 500,
        "wires": [
            [
                "b66e8bfc5f31d577"
            ]
        ]
    },
    {
        "id": "b66e8bfc5f31d577",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 500,
        "wires": []
    }
]